# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
Thumbs.db
Icon?
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.idea/
.vscode/
.vs/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Tools
.eslintcache

# Server specific
Server/node_modules/
Client/node_modules/
Server/dist/
Client/dist/
